h1 {
  color: green;
}


h2 {
  color: cadetblue;
  font-style: italic;
  text-align: center;
}

h3 {
  color: blue;
  text-align: center;
}

p {
  font-weight: 400;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

body {
  background-color: beige;
  font-family: sans-serif;
  text-align: center;
}
